a {
	color: map-get($map: $theme-colors, $key: link);

	&:visited {
		color: map-get($map: $theme-colors, $key: link-visited);
	}

	&:hover,
	&:active {
		color: map-get($map: $theme-colors, $key: link-hover);
		outline: 0;
		text-decoration: none;
	}

	&:focus {
		text-decoration: underline;
	}
}
