.home-introduction {
	padding: 50px 0;
	.introduction__wrapper {
		display: grid;
		align-items: center;
		grid-template-columns: 0.8fr 1fr;
		grid-column-gap: 64px;
		@media (max-width: 1024.98px) {
			grid-column-gap: 32px;
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 767.98px) {
			grid-template-columns: 1fr;
		}
	}
	.introduction__image {
		display: block;
		margin-right: auto;
		margin-left: auto;
		@media (max-width: 767.98px) {
			display: grid;
			align-items: center;
			margin-right: 0;
			margin-left: 0;
			grid-template-columns: 200px auto;
		}
		@media (max-width: 575.98px) {
			grid-template-columns: 1fr;
			img {
				width: 250px;
				margin: 0 auto;
			}
		}
	}
	.introduction__content {
		h1 {
			color: map-get($map: $theme-colors, $key: primary);
			font-size: 2.25rem;
			font-weight: 900;
			word-break: break-word;
			span {
				font-size: 3.5rem;
				display: block;
			}
			@media (max-width: 1024.98px) {
				font-size: 2rem;
				span {
					font-size: 3rem;
				}
			}
			@media (max-width: 767.98px) {
				font-size: 2rem;
			}
			@media (max-width: 575.98px) {
				font-size: 1.5rem;
			}
		}
		p {
			font-size: 1rem;
			+ p {
				margin-top: 16px;
			}
			&:nth-last-child(2) {
				margin-bottom: 24px;
			}
			@media (max-width: 767.98px) {
				font-size: 0.875rem;
				margin-bottom: 16px;
			}
		}
		@media (max-width: 575.98px) {
			text-align: center;
			margin-top: 24px;
			.bt--md {
				font-size: 0.875rem;
			}
		}
	}
	.introduction__socials {
		h3 {
			font-size: 1.5rem;
			text-align: center;
			margin: 16px 0;
		}
		ul {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		li {
			-ms-flex: 0 0 44px;
			flex: 0 0 44px;
			max-width: 44px;
			height: 44px;
			background-color: lighten(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 50%
			);
			border-radius: 8px;
			box-shadow: 0 6px
				lighten(
					$color: map-get($map: $theme-colors, $key: primary),
					$amount: 40%
				);
			margin-bottom: 6px;
			> a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
				font-size: 1rem;
				color: map-get($map: $theme-colors, $key: primary);
			}
			+ li {
				margin-left: 16px;
			}
		}
	}
	@media (max-width: 1024.98px) {
		padding: 0;
	}
}
