.site-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 302;
}

.top-header {
    position: relative;
    background-color: lighten(
        $color: map-get($map: $theme-colors, $key: primary-dark),
        $amount: 5%
    );
    padding: 16px 0;
    p {
        color: map-get($map: $theme-colors, $key: neutral-white);
        text-align: center;
        + p {
            margin-top: 8px;
            > a {
                font-weight: 500;
                color: map-get($map: $theme-colors, $key: secondary);
                text-decoration: underline;
            }
            @media (max-width: 1024.98px) {
                margin-top: 4px;
            }
        }
        @media (max-width: 1199.98px) {
            font-size: 0.75rem;
        }
    }
    .close-hidden-note {
        color: map-get($map: $theme-colors, $key: neutral-white);
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
        line-height: 1;
        font-size: 1.5rem;
        transition: 0.3s all ease-in-out;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            transform: translateY(4px);
        }
        @media (max-width: 1024.98px) {
            top: 8px;
            right: 8px;
        }
    }
}

.main-header {
    background-color: map-get($map: $theme-colors, $key: primary-dark);
    padding: 10px 0;
}

.site-branding {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    img {
        height: 100%;
    }
    > .custom-logo-link {
        display: block;
        width: 100%;
        height: 100%;
    }
    @media (max-width: 1024.98px) {
        margin: 0 auto;
    }
}

.js-collapse-aside-menu-mobile {
    color: map-get($map: $theme-colors, $key: neutral-white);
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 24px;
    height: 24px;
    > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s all ease-in-out;
        &:last-child {
            opacity: 0;
        }
    }
    &.active {
        > i {
            &:first-child {
                opacity: 0;
            }
            &:last-child {
                opacity: 1;
            }
        }
    }
    @media (max-width: 1024.98px) {
        display: inline-flex;
    }
}

.site-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @media (max-width: 1024.98px) {
        justify-content: flex-start;
    }
}
